{% extends "base.html" %}

{% block navbar %}
  <div class="container-fluid eventback">
    <div class="container-fluid">
      <div class="container">
        <nav class="navbar navbar-default nav-white" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="../"><span class="hide">티켓 플레이스</span> </a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav nav-main navbar-right">
              <li><a href="/content/list?content_type=0">유아</a></li>
              <li><a href="/content/list?content_type=1">초등</a></li>
              <li><a href="/content/list?content_type=2">청소년</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- 배너 형식  설명 부분  -->
    <div class="container-fluid event-back ">
      <div class="container eveback">
        <div class="row evetext">
          <div class="col-sm-7 col-xs-12">
            <h1>학교 단체공연예매서비스 <br> <b>에듀티켓</b>입니다.</h1>

            <h3 class="hidden-xs">검증된 공연을 <b>단체 최저가</b>로 만나보세요.
          </div>
        </div>
      </div>
      <div class="container-fluid evesbar">
        <div class="container">
          <a href="/content/list?content_type=0">유아 </a>
          <a href="/content/list?content_type=1">초등</a>
          <a href="/content/list?content_type=2">청소년 </a>
        </div>
      </div>

    </div>
  </div>
  <!-- 공연 목록 시작  -->
  <div class="container-fluid hotshow">
    <div class="container">
      <h3 class="tte">인기 공연 </h3>

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner inner-content inner-content-front" role="listbox">
          {% for contents in frontpage_carousel %}
            <div class="item {{ 'active' if loop.index==1 else '' }}">
              <div class="row bestshow">
                {% set parent_loop = loop %}
                {% for content in contents if content %}
                  <div class="col-sm-12 col-md-4 col-xs-12">
                    <a href="/content/detail?content_id={{ content.content_id }}">
                      <!-- <div class="red-badge text-center">
                                       BEST  <span class="invisible">{{ loop.index + parent_loop.index0 * 3}}</span>
                                    </div> -->
                      <div class="thumbnail">
                        <img src="{{ download( content.index_image ) }}" alt="...">

                        <div class="caption">
                          <h4 class="fronth4">{{ content.name }}</h4>
                          <ul class="list-unstyled">
                            <li><span><i class="fa fa-calendar-o"></i></span>
                              {% if content.start_date %}
                                {{ content.start_date.strftime('%Y.%m.%d') }} ~
                                {{ content.end_date.strftime('%Y.%m.%d') }}
                              {% else %}
                                공연시간 문의: 1800-6403
                              {% endif %}
                            </li>
                            <li class="cut-address">
                              <span><i class="fa fa-map-marker"></i></span> {{ content.theater_address1 }}
                            </li>
                            <li><span><i class="fa fa-clock-o"></i></span> 총 {{ content.duration }}분
                            </li>
                            <li class="row">
                              <div class="col-sm-5">
                                {% if content.age_min < 8 %}
                                  <div class="label label-warning">유</div> {% endif %}
                                {% if content.age_min < 14 and content.age_max > 7 %}
                                  <div class="label label-success">초</div>{% endif %}
                                {% if content.age_max > 13 %}
                                  <div class="label label-primary">청</div>{% endif %}
                              </div>
                              <div class="col-sm-7 price-tag1 text-right">
                                <small>정가</small>
                                <del>{{ content.original_price | number }}원</del>
                              </div>
                            </li>
                            <li class="price-tag2 text-right">
                              <small>에듀티켓가</small>
                              {{ content.price | number }}원
                            </li>
                          </ul>
                        </div>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
              <!-- // content3-->
            </div>
          {% endfor %}
          <!-- Controls -->
          <a class="left carousel-control1" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="right carousel-control1" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <h3 class="tte"> 에듀티켓 추천 공연 </h3>
      <!--  최근 등록된 공연  part  -->
      {% for content in recommended_contents if content %}
        <section class="col-sm-6 col-md-3 col-xs-12">
          <a href="/content/detail?content_id={{ content.content_id }}">
            <div class="thumbnail">
              <img src="{{ download( content.index_image ) }}" alt="...">

              <div class="caption">
                <h4 class="fronth4">{{ content.name }}</h4>
                <ul class="list-unstyled latest">
                  <li><span><i class="fa fa-calendar-o"></i></span>
                    {% if content.start_date %}
                      {{ content.start_date.strftime('%Y.%m.%d') }} ~
                      {{ content.end_date.strftime('%Y.%m.%d') }}
                    {% else %}
                      공연시간 문의: 1800-6403
                    {% endif %}

                  </li>
                  <li><span><i class="fa fa-map-marker"></i></span> {{ content.theater_address1 }}
                  </li>
                  <li><span><i class="fa fa-clock-o"></i></span> 총 {{ content.duration }}분</li>
                  <li class="row">
                    <div class="col-sm-5">
                      {% if content.age_min < 8 %}
                        <div class="label label-warning">유</div>
                      {% endif %}
                      {% if content.age_min < 13 and content.age_max > 7 %}
                        <div class="label label-success">초</div>
                      {% endif %}
                      {% if content.age_max > 12 %}
                        <div class="label label-primary">청</div>
                      {% endif %}
                    </div>
                    <div class="col-sm-7 price-tag4 text-right">
                      <small>정가</small>
                      <del>{{ content.original_price | number }}원</del>
                    </div>
                  </li>
                  <li class="price-tag3 text-right">
                    <small>에듀티켓가</small>
                    {{ content.price | number }}원
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </section>
      {% endfor %}
    </div>
  </div>
  <!-- //end of container -->
  </div> <!--// end of container-fluid -->

  <div class="container-fluid register-part">
    <div class="container  text-center">
      <h3> "에듀티켓에 물어보세요. 언제든지 도와드리겠습니다" </h3>
      <a href="http://goo.gl/forms/KRlcaUK7eB" class="btn btn-danger btn-lg"> 문의하기</a>
    </div>
  </div>

  <!-- //  공연 목록 끝 -->
  <div class="container-fluid white">
    <div class="container">
      <h3 class="text-center tte"> 에듀티켓만의 특장점 </h3>

      <div class="row speciality">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-4 col-xs-4 text-center">
            <!-- <img src="/static/imgs/ficon1.jpg" class="img-responsive img-circle center-block "> -->
            <div class="center-block">
              <img src="/static/imgs/wicon1.png">
            </div>
            <h4>무료 사전답사 지원</h4>

            <p class="hidden-sm hidden-xs">사전답사를 위한 <br> 선생님들께 공연초대권을 드립니다. </p>
          </div>
          <div class="col-md-4 col-xs-4 text-center">
            <div class="center-block">
              <img src="/static/imgs/wicon3.png">
            </div>
            <!-- <img src="/static/imgs/ficon3.jpg" class="img-responsive img-circle center-block "> -->
            <h4>안심 후불제</h4>

            <p class="hidden-sm hidden-xs">후불제로 안심하고 이용하세요.</p>
          </div>
          <div class="col-md-4 col-xs-4 text-center">
            <div class="center-block">
              <img src="/static/imgs/wicon4.png">
            </div>
            <!-- <img src="/static/imgs/ficon3.jpg" class="img-responsive img-circle center-block "> -->
            <h4>로그인없는 간편예약</h4>

            <p class="hidden-sm hidden-xs">로그인 없는 간단한 예약으로 <br> 공연을 관람하세요.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
