{% extends "base.html" %}

{% block content %}
  <div>
    <div class="container-fluid gray">
      <div class="container">
        <h2> {{ list_page_title }} </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <article class="list-part boxshadow">
            <div class="col-md-9 color-white">
              {% for content in contents %}
                <div class="row list-box">
                  <a href="/content/detail?content_id={{ content.content_id }}">
                    <figure class="col-sm-3">
                      <img src="{{ download( content.thumbnail_image) }}"
                           class="img-responsive center-block" alt="...">
                    </figure>
                  </a>

                  <div class="col-sm-9">
                    <a href="/content/detail?content_id={{ content.content_id }}">
                      <h3>{{ content.name }}</h3>
                    </a>

                    <div class="row">
                      <a href="/content/detail?content_id={{ content.content_id }}">
                        <section class="list-info col-sm-6">
                          <ul class="list-unstyled">
                            <li><span><i class="fa fa-phone"></i></span> {{ content.inquire_number }}</li>
                            {% if content.content_start_date %}
                              <li><span><i
                                  class="fa fa-calendar-o"></i></span>
                                {{ content.content_start_date.strftime('%Y-%m-%d') }} ~
                                {{ content.content_end_date.strftime('%Y-%m-%d') }}
                              </li>
                            {% else %}
                              <!-- <li><span><i
                                       class="fa fa-calendar-o"></i></span>
                                       공연시간 문의: 1800-6403
                               </li> -->
                            {% endif %}
                            <li><span><i
                                class="fa fa-map-marker"></i></span> {{ content.theater_address1 }}
                            </li>
                            <!-- <li><span><i class="fa fa-clock-o"></i></span> 총 {{ content.duration }}분 -->
                            </li>
                            <li class="price-tag1">
                              <small>정가</small>
                              <del>{{ content.original_price | number }}원</del>
                            </li>
                            <li class="price-tag2">
                              <small>에듀티켓가</small>
                              {{ content.price | number }}원
                            </li>
                          </ul>
                          {% if content.age_min < 8 %}
                            <div class="label label-warning">유</div>
                          {% endif %}
                          {% if content.age_min < 14 and content.age_max > 7 %}
                            <div class="label label-success">초</div>
                          {% endif %}
                          {% if content.age_max > 13 %}
                            <div class="label label-primary">청</div>
                          {% endif %}
                        </section>
                      </a>
                      <section class="date-list col-sm-6">
                        <h4><i class="fa fa-clock-o"></i> 예약 가능 일자</h4>

                        <div class="select-list">
                          {{ content.information4 | markdown }}
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
                <!-- //  공연 목록 끝 -->
              {% else %}
                <div class="no-result">
                  <h1><i class="fa fa-meh-o"></i></h1>

                  <h3>검색결과가 없습니다.</h3>
                </div>
              {% endfor %}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
