Flask==0.10.1

# Flask Extensions
Flask-Assets==0.11
Flask-Bootstrap==3.3.5.6
Flask-Cache==0.13.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-Migrate==1.6.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.12

# DB Driver
psycopg2==2.6.1

# Other
gunicorn==19.4.1
itsdangerous==0.24
cssmin==0.2.0
jsmin==2.1.6

# Testing
pytest==2.8.3
pytest-cov==2.2.0
mccabe==0.3.1
flake8==2.5.0

# Temporary (from code migration)

WTForms-Alchemy==0.13.3