{% extends "eduticket_base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>에듀티켓 관리자 페이지</h1>
        </div>
        <div class="col-md-4">
            <h2>주요 정보</h2>
            <table class="table table-striped text-left">
                <thead>
                <tr>
                    <th>항목</th>
                    <th>값</th>
                </tr>
                </thead>
                <tr>
                    <td>판매중인 컨텐츠 수</td>
                    <td>{{ on_sale_content_count | number}}개</td>
                </tr>
                <tr>
{#                    <td>예약 수</td>#}
{#                    <td>{{ reservation_count | number}}개</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>총 예상 유료 관람인원</td>#}
{#                    <td>{{ total_paid | number}}명</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>총 예상 무료 관람인원</td>#}
{#                    <td>{{ total_chargeless | number}}명</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>예약 당 평균 유료 관람인원</td>#}
{#                    <td>예약 당 {{ (total_paid/reservation_count) | number}}명</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>총 예상 매출액</td>#}
{#                    <td>{{ total_sales | number}} 원</td>#}
{#                </tr>#}
            </table>
        </div>
        <div class="col-md-8">
          <h2>Google Analytics</h2>
          <a class="btn btn-default" href="https://www.google.com/analytics/web/">바로가기</a>

{#          <h2>캐시 초기화</h2>#}
{#          <a class="btn btn-default" href="{{ url_for('eduticket.clear_cache') }}">초기화</a>#}
        </div>
    </div>
{% endblock %}
