{% extends "eduticket_base.html" %}

{% block title %}메세지 전송{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>메세지 전송</h1>
  </div>
  <form class="form-horizontal" action="{{ url_for('eduticket.sms') }}" method="POST">
    <div class="form-group">
      <label for="sender" class="col-sm-2 control-label">발신번호</label>
      <div>
        <input type="text" name="sender" id="sender" placeholder="발신번호"{% if preserve_sender %} value="{{ sender }}"{% endif %}>
        발신번호 유지 <input type="checkbox" name="preserve_sender" id="preserve_sender"{% if preserve_sender %} checked{% endif %}>
      </div>
      <b>주의! 새로운 발신번호는 coolsms에서 등록 후 사용하셔야 합니다!</b>
      <a href="http://www.coolsms.co.kr/index.php?mid=service_setup&act=dispSmsconfigSenderNumbers">
        (등록된 발신번호 확인 및 추가)
      </a>
    </div>
    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">전화번호</label>
      <div>
        <input type="text" name="phone" id="phone" placeholder="전화번호"{% if preserve_phone %} value="{{ phone }}"{% endif %}>
        전화번호 유지 <input type="checkbox" name="preserve_phone" id="preserve_phone"{% if preserve_phone %} checked{% endif %}>
      </div>
    </div>
    <div class="form-group">
      <label for="content" class="col-sm-2 control-label">문자 내용</label>
      <textarea name="content" id="content" cols="30" rows="10" placeholder="90자를 넘을 경우 자동으로 MMS로 전송됩니다.">
        {%- if preserve_content %}{{ content }}{% endif -%}
      </textarea>
      내용 유지 <input type="checkbox" name="preserve_content" id="preserve_content"{% if preserve_content %} checked{% endif %}>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">전송!</button>
        <a target="_blank" href="http://www.coolsms.co.kr/report" class="btn btn-default">coolsms사이트에서 전송결과 확인</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}