{% macro render_pagination(pagination, endpoint, current_page, per_page) %}
{#
  페이지네이션 매크로.
  pagination 객체와 endpoint만 있으면 생성될 수 있도록 해놓았다.
#}
{% if pagination.pages > 1 %}
<div class="row paging">
  <div class="col-xs-12 text-center">
    <nav>
      <ul class="pagination pagination-sm">
        <li>
          {% if pagination.has_prev %}
          <a href="{{ url_for(endpoint, page=pagination.prev_num, per_page=per_page) }}" aria-label="Previous">
            <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
          </a>
          {% else %}
          <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
          {% endif %}
        </li>
        {% for page in pagination.iter_pages() %}
        {% if page %}
        <li {% if page== current_page %}class="active" {% endif %}>
          <a href="{{ url_for(endpoint, page=page, per_page=per_page) }}">{{ page }}</a></li>
        {% else %}
        <li><a>...</a></li>
        {% endif %}
        {% endfor %}
        <li>
          {% if pagination.has_next %}
          <a href="{{ url_for(endpoint, page=pagination.next_num, per_page=per_page) }}" aria-label="Next">
            <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
          </a>
          {% else %}
          <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endif %}
{% endmacro %}