$theme-color:#f26101;  // color orange
$link-color:#535353;
$hover-color: #f26101;
$dark-back: #222d36;
$white:#fff;
$green:#46be8a; // light green
$lightgreen :#30ca0c;
$side-badge:#ff0404;  // bright red
$table-border:#455a64; // light gray
$navy:#28404b; //  navy blue
$link-blue:#1155cc; // regular blue
$red: #ff2727; //regular red
$headertable:#607d8b; // table heaer part
$lightgrey:#f6f6f6;
$lightgrey1:#c9c9c9;
$darkgrey:#646464;
$yellow:#ffd740;
$darkred:#ff5b4d; // dark red
$lightblue:#00bcd4;
$darkyelllow:#ffa800;
$back-color:#f6f6f6;
$loginborder:#ccc;
$fronttxt40: #37404f;