$nav-back:#1c1a1a; // fixed top back color
$backcolor:#fafafa; // background color]
$educolor:#f8535c; // eduticket color
$white:#fff;
$black:#000;
$grey:#ccc;
$coverback:#200200;
$footpart:#313131;
$footcolor:#222;
$hashtag:#878787;
$onlinetitle:#6F6F6F;
$howtoback:#ed5d51;
