{% extends 'main/list_base.html' %}

{% block listpage_content %}

<article role="list" class="container">
  {%- for content in contents -%}
  {%- if loop.index % 3 == 1 -%}
  <div class="row">
  {%- endif -%}
    <div class="col-xs-4">
      <a href="{{ url_for('main.detail', content_id=content.id) }}">
        <div class="thumbnail front">
          <img src="{{ download(content.index_image) }}" class="img-responsive">
          <div class="caption">
            <div class="period">공연기간 {{ content.start_date | datetime('%y.%m.%d') }} ~ {{ content.end_date | datetime('%y.%m.%d') }}</div>
            <h3>[{{ content.location | location }}] {{ content.name }} </h3>
            <div class="percent">
              <span>{{ content.discount_rate | percent }}</span>%
            </div>
            <div class="price">
              <h5>{{ content.original_price | number }}원</h5>
              <h4>{{ content.price | number }}원</h4>
            </div>
          </div>
        </div>
      </a>
    </div>
  {%- if loop.index % 3 == 0 or loop.last -%}
  </div>
  {%- endif -%}
  {% else %}
    공연이 없습니다.
  {%- endfor -%}
</article>
  <article>
    {#  <div class="container text-center">#}
    {#    <nav>#}
    {#      <ul class="pagination">#}
    {#        <li>#}
    {#          <a href="#" aria-label="Previous">#}
    {#            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>#}
    {#          </a>#}
    {#        </li>#}
    {#        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>#}
    {#        <li><a href="#">2</a></li>#}
    {#        <li><a href="#">3</a></li>#}
    {#        <li><a href="#">4</a></li>#}
    {#        <li><a href="#">5</a></li>#}
    {#        <li>#}
    {#          <a href="#" aria-label="Next">#}
    {#            <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>#}
    {#          </a>#}
    {#        </li>#}
    {#      </ul>#}
    {#    </nav>#}
    {#  </div>#}
    {#</article>
{##}
{% endblock %}