{% extends 'main/base.html' %}

{% block content %}
<div class="container-fluid listpart local">
  <h1>지역별 공연</h1>
</div>
<div class="container-fluid listmenu">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
          <li><a href="#">지역별</a></li>
          <li class="active">서울</li>
        </ol>
      </div>
      <div class="col-xs-6">
        <ul class="list-inline text-center toggle">
          <li><a href="#">인기순</a></li>
          <li><a href="#" class="active">가격순</a></li>
        </ul>
      </div>
      <div class="col-xs-3 text-right">
        <ul class="list-inline">
          <li><a href="{{ url_for('main.list_', blockview=None) }}"><i class="fa fa-th-list fa-lg"></i></a></li>
          <li><a href="{{ url_for('main.list_', blockview=True) }}"><i class="fa fa-th-large  fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<article role="list" class="container">
  <div class="row">
    <div class="col-xs-6">
      <a href="#">
        <div class="block2">
          <figure>
            <img src="./imgs/poster1.jpg">
          </figure>
          <div class="conbox">
            <div class="spbadge"><img src="./imgs/spc.png"></div>
            <h4>죽여주는 이야기</h4>
            <table>
              <tr>
                <td>지역</td>
                <td>서울/대학로</td>
              </tr>
              <tr>
                <td>공연일시</td>
                <td>2015.09.08~2015.12.31</td>
              </tr>
              <tr>
                <td>최대 인원</td>
                <td>200명</td>
              </tr>
              <tr>
                <td colspan="2"><span>#코믹</span> <span>#연극</span> <span>#가족</span></td>
              </tr>
            </table>
            <div class="pricetag">
              <div class="percent">
                <span>70</span>%
              </div>
              <div class="price">
                <h5>30,000원</h5>
                <h4>9,000
                  <small>원</small>
                </h4>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
    <div class="col-xs-6">
      <div class="block2">
        <figure>
          <img src="./imgs/poster1.jpg">
        </figure>
        <div class="conbox">
          <div class="spbadge"><img src="./imgs/spc.png"></div>
          <h4>죽여주는 이야기</h4>
          <table>
            <tr>
              <td>지역</td>
              <td>서울/대학로</td>
            </tr>
            <tr>
              <td>공연일시</td>
              <td>2015.09.08~2015.12.31</td>
            </tr>
            <tr>
              <td>최대 인원</td>
              <td>200명</td>
            </tr>
            <tr>
              <td colspan="2">#코믹 #연극 #가족</td>
            </tr>
          </table>
          <div class="pricetag">
            <div class="percent">
              <span>70</span>%
            </div>
            <div class="price">
              <h5>30,000원</h5>
              <h4>9,000
                <small>원</small>
              </h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="block2">
        <figure>
          <img src="./imgs/poster1.jpg">
        </figure>
        <div class="conbox">
          <div class="doubleicon">
            <img src="./imgs/spc.png">
            <img src="./imgs/alone.png">
          </div>
          <h4>죽여주는 이야기</h4>
          <table>
            <tr>
              <td>지역</td>
              <td>서울/대학로</td>
            </tr>
            <tr>
              <td>공연일시</td>
              <td>2015.09.08~2015.12.31</td>
            </tr>
            <tr>
              <td>최대 인원</td>
              <td>200명</td>
            </tr>
            <tr>
              <td colspan="2">#코믹 #연극 #가족</td>
            </tr>
          </table>
          <div class="pricetag">
            <div class="percent">
              <span>70</span>%
            </div>
            <div class="price">
              <h5>30,000원</h5>
              <h4>9,000
                <small>원</small>
              </h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="block2">
        <figure>
          <img src="./imgs/poster1.jpg">
        </figure>
        <div class="conbox">
          <div class="spbadge"><img src="./imgs/alone.png"></div>
          <h4>죽여주는 이야기</h4>
          <table>
            <tr>
              <td>지역</td>
              <td>서울/대학로</td>
            </tr>
            <tr>
              <td>공연일시</td>
              <td>2015.09.08~2015.12.31</td>
            </tr>
            <tr>
              <td>최대 인원</td>
              <td>200명</td>
            </tr>
            <tr>
              <td colspan="2">#코믹 #연극 #가족</td>
            </tr>
          </table>
          <div class="pricetag">
            <div class="percent">
              <span>70</span>%
            </div>
            <div class="price">
              <h5>30,000원</h5>
              <h4>9,000
                <small>원</small>
              </h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="block2">
        <figure>
          <img src="./imgs/poster1.jpg">
        </figure>
        <div class="conbox">
          <h4>죽여주는 이야기</h4>
          <table>
            <tr>
              <td>지역</td>
              <td>서울/대학로</td>
            </tr>
            <tr>
              <td>공연일시</td>
              <td>2015.09.08~2015.12.31</td>
            </tr>
            <tr>
              <td>최대 인원</td>
              <td>200명</td>
            </tr>
            <tr>
              <td colspan="2">#코믹 #연극 #가족</td>
            </tr>
          </table>
          <div class="pricetag">
            <div class="percent">
              <span>70</span>%
            </div>
            <div class="price">
              <h5>30,000원</h5>
              <h4>9,000
                <small>원</small>
              </h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="block2">
        <figure>
          <img src="./imgs/poster1.jpg">
        </figure>
        <div class="conbox">
          <h4>죽여주는 이야기</h4>
          <table>
            <tr>
              <td>지역</td>
              <td>서울/대학로</td>
            </tr>
            <tr>
              <td>공연일시</td>
              <td>2015.09.08~2015.12.31</td>
            </tr>
            <tr>
              <td>최대 인원</td>
              <td>200명</td>
            </tr>
            <tr>
              <td colspan="2">#코믹 #연극 #가족</td>
            </tr>
          </table>
          <div class="pricetag">
            <div class="percent">
              <span>70</span>%
            </div>
            <div class="price">
              <h5>30,000원</h5>
              <h4>9,000
                <small>원</small>
              </h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="block2">
        <figure>
          <img src="./imgs/poster1.jpg">
        </figure>
        <div class="conbox">
          <h4>죽여주는 이야기</h4>
          <table>
            <tr>
              <td>지역</td>
              <td>서울/대학로</td>
            </tr>
            <tr>
              <td>공연일시</td>
              <td>2015.09.08~2015.12.31</td>
            </tr>
            <tr>
              <td>최대 인원</td>
              <td>200명</td>
            </tr>
            <tr>
              <td colspan="2">#코믹 #연극 #가족</td>
            </tr>
          </table>
          <div class="pricetag">
            <div class="percent">
              <span>70</span>%
            </div>
            <div class="price">
              <h5>30,000원</h5>
              <h4>9,000
                <small>원</small>
              </h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="block2">
        <figure>
          <img src="./imgs/poster1.jpg">
        </figure>
        <div class="conbox">
          <h4>죽여주는 이야기</h4>
          <table>
            <tr>
              <td>지역</td>
              <td>서울/대학로</td>
            </tr>
            <tr>
              <td>공연일시</td>
              <td>2015.09.08~2015.12.31</td>
            </tr>
            <tr>
              <td>최대 인원</td>
              <td>200명</td>
            </tr>
            <tr>
              <td colspan="2">#코믹 #연극 #가족</td>
            </tr>
          </table>
          <div class="pricetag">
            <div class="percent">
              <span>70</span>%
            </div>
            <div class="price">
              <h5>30,000원</h5>
              <h4>9,000
                <small>원</small>
              </h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</article>
<article>
  <div class="container text-center">
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
          </a>
        </li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</article>
{% endblock %}