{# list.html과 listblock.html의 공통부분(banner/nav) #}
{% extends 'main/base.html' %}

{% block content %}
  <div class="container-fluid listpart local">
    <h1>
      {% if location is not none %}
        지역별 공연: {{ location }}
      {% elif content_type %}
        {{ content_type }}
      {% endif %}
    </h1>
  </div>
  <div class="container-fluid listmenu">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <ol class="breadcrumb">
            <li><a href="{{ url_for('main.index') }}"><i class="fa fa-home fa-lg"></i></a></li>
            {% if location is not none %}
              <li>지역별</li>
              <li class="active">{{ location | location }}</li>
            {% elif content_type %}
              <li>{{ content_type }}</li>
            {% endif %}
          </ol>
        </div>
        <div class="col-xs-6">
          <ul class="list-inline text-center toggle">
            {#          <li><a href="#">인기순</a></li>#}
            {#          <li><a href="#" class="active">가격순</a></li>#}
          </ul>
        </div>
        <div class="col-xs-3 text-right">
          <ul class="list-inline">
            <li><a href="{{ url_for('main.list_', blockview=None) }}"><i class="fa fa-th-list fa-lg"></i></a></li>
            <li><a href="{{ url_for('main.list_', blockview=True) }}"><i class="fa fa-th-large  fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% block listpage_content %}{% endblock %}
{% endblock %}