{% extends 'main/base.html' %}

{% block additional_nav_class %}navback{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-bordered topinfo">
    <tr>
      <td rowspan="2"><img src="{{ download(content.thumbnail_image) }}" class="img-responsive"></td>
      <td colspan="2">
        <h3>{{ content.name }}
          <small>{{ content.theater_address }}</small>
        </h3>
      </td>
    </tr>
    <tr>
      <td class="tableinfo">{{ content.information4 | safe }}</td>
      <td class="tableinfo">1인 <span>{{ content.price | number }}</span> 원</td>
    </tr>
  </table>
  <div class="innerinfo">
    <form class="form" method="POST">
      <h3>고객정보</h3>
      <table class="table innertable">
        <tr>
          <td>단체명 <span>*</span></td>
          <td class="form-inline">
            <input type="text" class="form-control" name="단체명">
          </td>
        </tr>
        <tr>
          <td>이름 <span>*</span></td>
          <td class="form-inline">
            <input type="text" class="form-control" name="이름">
          </td>
        </tr>
        <tr>
          <td>핸드폰번호 <span>*</span></td>
          <td class="form-inline">
            <input type="text" class="form-control" name="핸드폰번호">
          </td>
        </tr>
        <tr>
          <td>이메일 <span>*</span></td>
          <td class="form-inline">
            <input type="text" class="form-control" name="이메일">
          </td>
        </tr>
        <tr>
          <td>연락방법 <span>*</span></td>
          <td class="form-inline">
            <label class="radio-inline">
              <input type="radio" name="연락방법" id="inlineRadio1" value="전화"> 전화
            </label>
            <label class="radio-inline">
              <input type="radio" name="연락방법" id="inlineRadio2" value="문자"> 문자
            </label>
            <label class="radio-inline">
              <input type="radio" name="연락방법" id="inlineRadio3" value="이메일"> 이메일
            </label>
            <!-- <span class="radioetc">문의사항에 대한 답변을 받으실 방법을 선택해 주세요. </span>         -->
          </td>
        </tr>
      </table>
      <h3>문의정보</h3>
      <table class="table  innertable">
        <tr>
          <td>희망관람일시 <span>*</span></td>
          <td>
            <textarea class="form-control" name="희망관람일시" rows="2" placeholder="관람일시가 확정되지 않았을 경우, 대략적인 일자를 알려주세요."></textarea>
          </td>
        </tr>
        <tr>
          <td>학생인원 <span>*</span></td>
          <td class="form-inline">
            <input type="text" class="form-control" name="학생인원"> 공연관람 전까지 총 인원수의 5%내에서 조정 가능합니다.</td>
        </tr>
        <tr>
          <td>인솔교사 인원 <span>*</span></td>
          <td class="form-inline"><input type="text" class="form-control" name="인솔교사 인원"> 에듀티켓 정책상, 학생 20명당 1면의 인솔 교사는 무료로 관람 가능합니다.
          </td>
        </tr>
        <tr>
          <td>결제수단 <span>*</span></td>
          <td class="form-inline">
            <label class="radio-inline">
              <input type="radio" name="결제수단" id="inlineRadio1" value="현장결제"> 현장결제
            </label>
            <label class="radio-inline">
              <input type="radio" name="결제수단" id="inlineRadio2" value="계좌이체"> 계좌이체
            </label>
          </td>
        </tr>
        <tr>
          <td>기타요청 및 문의 사항</td>
          <td>
            <textarea class="form-control" rows="5" name="기타요청 및 문의사항" placeholder="공연관람과 관련하여 요청하실 사항이나, 기타 문의 사항이 있으시면 무엇이든 질문 가능합니다."></textarea>
          </td>
        </tr>
      </table>
      <div class="btnblock text-center">
        <button class="btn btn-lg btn-danger btn-block">입력완료</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}