{% extends "eduticket_base.html" %}

{% block title %}Board{% endblock %}

{% block content %}
    <nav>
        <ul class="pagination">
            <li>
                {% if pagination.has_prev %}
                    <a href="{{ url_for('eduticket.post',page=pagination.prev_num) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li><a href="{{url_for('eduticket.post',page=page) }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="{{url_for('eduticket.post',page=page) }}"><strong>{{ page }}</strong></a></li>
                        {% endif %}
                    {% else %}
                    {% endif %}
                {% endfor %}
            </li>
            {#                <li><a href="#">1</a></li>#}
            {#                <li><a href="#">2</a></li>#}
            {#                <li><a href="#">3</a></li>#}
            {#                <li><a href="#">4</a></li>#}
            {#                <li><a href="#">5</a></li>#}
            <li>
                {% if pagination.has_next %}
                    <a href="{{ url_for('eduticket.post',page=pagination.next_num) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <div class="container">

        <a href="{{ url_for('eduticket.post_new') }}" class="btn btn-default">새로운 글</a>
        {% for post in pagination.items %}
            <div class="col-xs-12 post">
                <div class="col-xs-12">
                    <h1>{{ post.title }}</h1>{{ post.created_date | datetime }} 작성
                    <p>작성자 : {{ post.nickname }}</p>
                </div>
                <div class="col-xs-12">
                    {{ post.content }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}